apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  namespace: frontend-dev
  labels:
    app: web
spec:
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      # volumes:
      # - name: nginx-config
      #   configMap:
      #     name: nginx-config
      containers:
      - name: web
        image: 724605596975.dkr.ecr.us-east-1.amazonaws.com/web:0.1.3 # {"$imagepolicy": "flux-system:web"}
        # volumeMounts:
        # - name: nginx-config
        #   mountPath: /etc/nginx/nginx.conf
        #   subPath: nginx.conf
        imagePullPolicy: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: frontend-dev
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: web
