apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageRepository
namespace: flux-system
metadata:
  name: web
spec:
  secretRef:
    name: aws-ecr-auth
  image: 724605596975.dkr.ecr.us-east-1.amazonaws.com/web
  interval: 1m0s

---
apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImagePolicy
metadata:
  name: web
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: web
  policy:
    semver:
      range: x.x.x